@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #FEECE2;
  height: auto;
}
hr{
  color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
